:root {
    --primary-color: #ff0000;
    --secundary-color: #000000;
    --terciary-color: #ffffff;
    --background-color: #181818;
    --footer-color: #2c2c2c;
}

html {
    display: flex;
    width: 100%;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;
    position: relative;
    color: var(--terciary-color);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    max-width: 1920px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__first-bar{
    width: 80%;
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;

    .royal-logo1 {
        width: 200px;
        height: auto;
    }

    .royal-logo2 {
        width: 50px;
    }
}



.header__second-bar {
    width: 80%;
    display: flex;
    padding: 10px 0 20px;
    justify-content: center;
    text-align: center;
    gap: 5%;
}

.header__second-bar a {
    text-decoration: none;
    font-size: 20px;
    color: var(--terciary-color);
    transition: transform 0.1s ease;
}

.header__second-bar a:hover {
    transform: scale(1.1);
}



.escolha {
    color: var(--terciary-color);
    background-color: var(--primary-color);
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

.main-home {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-moto-datail {
    width: 100%;
    min-height: 700px;
}

.moto-show-container {
    display: flex;
    flex-direction: column;
    width: 1024px;
    max-width: 80%;
    gap: 30px;
    padding: 50px 0 80px;
}

.moto-show__name{
    font-weight: bold;
}

.moto-show-item{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.moto-show-container img{
    width: 100%;
    transition: transform 0.5s ease;
}

.moto-show-container img:hover {
    transform: scale(1.2);
}

.moto-show-container .moto-label {
    width: 100%;
    height: 60px;
    padding: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 0px;
    font-size: 32px;
    color: var(--terciary-color);
    background-color: rgba(0, 0, 0, 0.5);
}

.moto-banner {
    width: 100%;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 20px;
    width: 100%;
    padding: 20px 10%;
    min-height: 150px;
    height: auto;
    text-align: center;
    color: white;
    background-color: var(--footer-color);
}

.footer img {
    width: 100px;
}

.footer .developer {
    flex-grow: 1;
}

.footer__links {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.footer__links div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.footer__links a{
    width: 150px;
    text-align: start;
    text-decoration: none;
    color: var(--terciary-color);
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

.whatsapp-button:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {

    .moto-show-container {
        max-width: 94%;
    }

    .footer__links div {
        flex-direction: column;
    }
}
